<div id="app" class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="main-image">
            <img :src="mainImage" alt="Ảnh chính" width="100%" />
          </div>

          <div class="grid-container">
            <div
              class="grid-item"
              v-for="(image, index) in images"
              :key="index"
              @click="changeMainImage(image)"
            >
              <img
                :src="image"
                :alt="'Ảnh ' + (index + 1)"
                width="150px"
                height="100px"
              />
            </div>
          </div>
          <!-- <div class="flex_image mt">
            <div>
              <img
                src="/image/2_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div>
              <img
                src="/image/3_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div>
              <img
                src="/image/4_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div >
              <img
                src="/image/5_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
          </div>
          <div class="flex_image mt">
            <div >
              <img
                src="/image/6_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div >
              <img
                src="/image/7_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div >
              <img
                src="/image/8_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div >
              <img
                src="/image/9_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
          </div>
          <div class="flex_image mt">
            <div >
              <img
                src="/image/10_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div >
              <img
                src="/image/11_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
            <div>
              <img
                src="/image/1_lon.jpg"
                alt="Mô tả ảnh"
                width="150"
                height="100"
                class="img-margin-top"
              />
            </div>
          </div> -->
        </div>

        <div class="col-md-4">
          <div class="name">DCS Deadbeats</div>

          <div class="">
            <div class="card-body group_by rounded">GROUP BY</div>
            <div class="time">End:10/10/2024 at 10pm</div>
          </div>

          <div class="money mt-4">5.583.443 đ</div>
          <div class="fw-bold mt-5">Kit</div>
          <select
            id="mySelect"
            style="width: 200px; border: 2px solid #000000; border-radius: 5px"
          >
            <option value="option1">Base</option>
            <option value="option2" selected>Numpad</option>
            <option value="option3">Full</option>
          </select>

          <div class="fw-bold mt-5">Quantily</div>
          <input
            type="number"
            v-model="quanlity"
            min="1"
            style="width: 40px; border: 2px solid #000000; border-radius: 5px"
          />

          <div class="card-body fw-bold rounded flex_quan time_arrival mt-5">
            Estimated Arrival: Q1 2025
          </div>
          <button @click="addCart" class="cart fw-bold mt-5 text-white">
            Thêm vào giỏ hàng
          </button>
          <div class="description" @click="toggleContent">
            Description
            <i
              class="fas"
              :class="{'fa-plus': !isContentVisible, 'fa-minus': isContentVisible}"
            ></i>
          </div>
          <div class="content" v-show="isContentVisible">
            Deadbeats - a collaborative project between artisans Rubrehose and
            Hello?, bring you DCS Deadbeats. Inspired by the Cherry NCR
            dye-sublimated keycaps, this classic colorway is complimented by
            soft primary colors and absolutely loaded with symbolism from these
            two prominent makers.
          </div>
          <hr />
          <div class="Specifications" @click="toggleCheck">
            Specifications
            <i class="fas" :class="{'fa-plus': !check, 'fa-minus': check}"></i>
          </div>
          <div class="content" v-show="check">
            <div>- Made in the United States by Signature Plastics</div>
            <div>- DCS profile (1-1-2-3-4-4)</div>
            <div>- Compatible with MX style switches</div>
            <div>- PBT Plastic, except the Spacebars which are ABS</div>
            <div>- Designed by Rubrehose and Hello?</div>
            <div>- Compatible with MX style switches</div>
            <div>- Packaged in bags, not trays!</div>
          </div>
        </div>
      </div>
      <div class="flex_back mt-5">
        <button class="back" @click="showMess">BACK</button>
      </div>
    </div>
    