<div id="app" class="container">
  <div class="row">

    <div class="col-md-7">
      <div class="main-image">
        <img :src="mainImage" alt="Main" width="100%" />
      </div>

      <div class="grid-container">
        <div
          class="grid-item"
          v-for="(image, index) in images"
          :key="index"
          @click="changeMainImage(image)"
        >
          <img
            :src="image"
            :alt="'Ảnh ' + (index + 1)"
            width="150px"
            height="100px"
            style="border-radius: 4px;"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="name" v-text="getDB.productname"></div>

      <div>
        <div class="card-body group_by rounded">GROUP BY</div>
        <div class="time mt-3">End date:</div>
        <div class="time" v-html="getDB.enddate"></div>
      </div>

      <div class="price">
        <div class="money" v-text="getDB.currentprice"></div>
        <div class="symbol">$</div>
      </div>

      <div class="fw-bold mt-5">Kit</div>
      <select
        id="mySelect"
        style="width: 200px; border: 2px solid #000000; border-radius: 5px"
      >
        <option value="option1">Base</option>
        <option value="option2" selected>Numpad</option>
        <option value="option3">Full</option>
      </select>

      <div class="fw-bold mt-5">Quantily</div>
      <input
        type="number"
        v-model="quanlity"
        min="1"
        style="width: 40px; border: 2px solid #000000; border-radius: 5px"
      />

      <div class="card-body fw-bold rounded flex_quan time_arrival mt-5">
        Estimated Arrival: Q1 2025
      </div>
      <button @click="addCart" class="cart fw-bold mt-5 text-white">
        Thêm vào giỏ hàng
      </button>
      <div class="description" @click="toggleContent">
        Description
        <i
          class="fas"
          :class="{'fa-plus': !isContentVisible, 'fa-minus': isContentVisible}"
        ></i>
      </div>
      <div class="content" v-show="isContentVisible">
        Deadbeats - a collaborative project between artisans Rubrehose and
        Hello?, bring you DCS Deadbeats. Inspired by the Cherry NCR
        dye-sublimated keycaps, this classic colorway is complimented by soft
        primary colors and absolutely loaded with symbolism from these two
        prominent makers.
      </div>
      <hr />
      <div class="Specifications" @click="toggleCheck">
        Specifications
        <i class="fas" :class="{'fa-plus': !check, 'fa-minus': check}"></i>
      </div>
      <div class="content" v-show="check">
        <div v-html="formattedDescription"></div>
      </div>
    </div>

  </div>
  <div class="flex_back">
    <button class="back" @click="showMess">BACK</button>
  </div>

</div>

<script>
  window.data = JSON.parse('{{{data}}}');
</script>