.par-container {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(165, 165, 165);
}

.register-item {
  margin-top: 10px;
  display: flex;
}
.register-item:hover {
  color: #dc2c2c;
  background-color: #eaeaea;
  border-radius: 5px;
  transform: scale(1, 1.1);
  cursor: pointer;
}
.sort-by{
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  background-color: #767676;
  width: 10%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.par-fill {
  width: 100%;
  height: 50px;
  background-color: rgb(79, 79, 79);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;  
  justify-content: space-around;

}
.sort-by-time,.sort-by-type,.sort-by-brand,.sort-by-price{
  background-color: #767676;
  color: white;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.sort-by-time:hover,.sort-by-type:hover,.sort-by-brand:hover,.sort-by-price:hover{
 scale:1.1;
 color:black;
 cursor: pointer;
}
.par-list-gb {
  background-color: #f6f6f6;
  height: 90%;
  width: 20%;
  border-radius: 10px;
}
.par-head-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100px;
}
.par-pagi {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
}
.btn-pre,
.btn-nex {
  width: 30%;
  border: 1px, black, solid;
  border-radius: 5px;
  font-size: 70%;
}
.l{
 
  font-size: 70%;
}

.btn-pre:hover,
.btn-nex:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.par-style-img {
  width: 50%;
  height: 20%;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px, black, solid;
}
.par-body-list {
  display: flex;
  flex-direction: column;
  height: 50%px;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  width: 100%;
}
.x{
  width: 200px;
}
.product {
  display: flex;
  align-items: center;
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  
}
.product:hover {
  background-color: #767676;
  scale: 1.1;
  color: white;
  cursor: pointer;
}
.par-layout-pro-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}

.par-body {
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  height: 90%;
  width: 70%;
}
.par-top-layout {
  display: flex;
  justify-content: space-between;
  height: 1200px;
}
.par-body-tag {
  position: relative;
  width: 13%;
  height: 80%;
  margin-left: 10px;
  margin-top: 20px;
}
.par-body-img {
  font-size: 15px;
  font-weight: bold;
}
.par-body-name {
  position: absolute;
  top: 180px;
  font-size: 15px;
  font-weight: bold;
}
.par-body-price {
  position: absolute;
  top: 250px;
  font-size: 15px;
  font-weight: bold;
}
.par-body-quantity {
  position: absolute;
  top: 360px;
  font-size: 15px;
  font-weight: bold;
}
.par-body-type {
  position: absolute;
  top: 450px;
  font-size: 15px;
  font-weight: bold;
}
.par-body-brand {
  position: absolute;
  top: 550px;
  font-size: 15px;
  font-weight: bold;
}
.par-body-describe {
  position: absolute;
  top: 640px;
  font-size: 15px;
  font-weight: bold;
}
.par-detail-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.par-body-detail {
  margin-top: 20px;
  width: 87%;
}
.par-img {
  height: 150px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.retangle {
  background-color: #cfcfcf;
  border-radius: 5px;
  height: 150px;
  width: 200px;
  border: 1px, black, solid;
}
.par-name {
  background-color: #cfcfcf;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.flex-st {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  margin-top: 20px;
}
.col_1 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.par-space-price,
.par-space-quantity {
  height: 70px;
  width: 100%;
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 10px;
}
.par-close {
  font-size: 15px;
  font-weight: bold;
}
.expect {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 110px;
}
.col_4 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.par-space-close,
.par-space-ex {
  background-color: #cfcfcf;
  height: 70px;
  border-radius: 5px;
  padding: 10px;
}
.col_2 {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.col_3 {
  position: relative;
  width: 20%;
}
.par-type {
  width: 40%;
  margin-top: 20px;
  height: 80px;
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 10px;
}
.par-brand {
  margin-top: 20px;
  height: 80px;
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 10px;
}
.par-describe {
  margin-top: 20px;
  height: 180px;
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 10px;
}
.par-register {
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #f6f6f6;
  height: 500px;
  border-radius: 5px;
}
.par-head-register {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.par-search {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
}
.par-name-register {
  width: 100%;
  height: 50px;
  background-color: #c2c2c2;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.col-2,
.col-3,
.col-4 {
  display: flex;
  justify-content: center;
}

.par-detail-register {
  margin-top: 20px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
}
.par-detail-col-1,
.par-detail-col-2 {
  width: 50%;
  display: flex;
  gap: 20px;
}
.par-tag-name-detail-register {
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
hr {
  border: 2px solid black;
  width: 100%;
}
.par-name-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90px;
  width: 20%;
  font-weight: bold;
}
.par-orderID,.par-customerID,.par-orderStatus{
  font-size: 60%;
}
.par-register-detail-body {
  display: flex;
}
.par-register-data {
  width: 75%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.par-head-hd {
  background-color: #989898;
  width: 100%;
  border-radius: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  font-weight: bolder;
}
.col-hd {
  width: 30%;
}
.par-body-hd {
  display: flex;
  margin-top: 20px;
}
.par-row-price {
  display: flex;

  width: 100%;
}
.par-body-footer {
  display: flex;
  width: 30%;
  gap: 59px;
}
.col-ship-name {
  height: 150px;
  font-weight: bold;
}
.content-note {
  width: 30%;
  height: 200px;
  background-color: #c2c2c2;
  border-radius: 5px;
}
.order-note {
  font-weight: bold;
  width: 20%;
  font-size: 1rem;
}
.par-note {
  width: 60%;
  display: flex;
  gap: 10px;
}
.selected-tab {
  border-radius: 5px;
  background-color: #9c8bb2 !important; /* Màu nền khác biệt */
}
.bot-pagi {
  left: 50%;
  width: 20%;
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
}

.selected-tab-register {
  background-color: #c2c2c2;
  border-radius: 5px;
}
.delete-form,
.close-form {
  border: none;
  background-color: rgb(69, 69, 69);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 240px;
  height: 50px;
  font-size: 20px;
}
.delete-form:hover,
.close-form:hover {
  background-color: rgb(0, 0, 0);
  scale: 1.2;
}
.par-btn {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 100px;
}
.export-file {
  background-color: rgb(46, 109, 216);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding:10px;
}
.export-file:hover {
  scale: 1.1;
  background-color: black;
}
