html[data-bs-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}

html[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

/* Specific component styling */
html[data-bs-theme="dark"] .bg-secondary-subtle {
    background-color: #333333;
    color: #ffffff;
    
}