<div class="container">
  <div class="tab-name">Order item</div>
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-1">
            <div class="images">
                Images:
            </div>
            <div class="name">
                Name:
            </div>
            <div class="price">
                Price:
            </div>
            <div class="close">
                Close:
            </div>
            <div class="expected">
                Expected delivery:
            </div>
            <div class="type">
                Type:
            </div>
            <div class="quanlity">
                Quanlity:
            </div>
            <div class="brand">
                Brand:
            </div>
            <div class="describe">
                Describe:
            </div>
        </div>

        <div class="col-md-11">
            <div class="input-images">
                
            </div>
            <div class="input-name">

            </div>
            <div class="input-price">

            </div>
            <div class="input-close">

            </div>
            <div class="input-expected">

            </div>
            <div class="input-type">

            </div>
            <div class="input-quanlity">
              
            </div>
            <div class="input-brand">

            </div>
            <div class="input-describe">

            </div>
        </div>
    </div>
  </div>
</div>