<div id="app">
  <div class="par-container">
    <div class="par-fill">
      <div class="sort-by-time"  @click="time">
        Time
      </div>
      <div class="sort-by-type" @click="type">
        Product Type
      </div>
      <div class="sort-by-brand" @click="brand">
        Brand
      </div>
      <div class="sort-by-price" @click="price">
        Price
      </div>
    </div>
    <div class="par-top-layout mt-4">
      <div class="col-md-3 par-list-gb">
        <div class="par-head-list"> <h4 >List of Group by</h4></div>
        
        <div class="par-body-list" v-if="participants.length">

          <div
            v-for="(item, index) in participants"
            :key="index"
          >
            <div class="product" :class="{ 'selected-tab': selectedIndex === index }" @click="detailProductGroupBy(item,index)">
             
              <div class="image"> <p><img :src="item.imagepath[0]" class="par-style-img"  alt="Product Image" /></p></div>
                
                <div class="xy">
                  <p><span v-text="item.productname"></span></p>
                  <p><span v-text="item.enddate"></span></p>
                </div>

            </div>
          </div>

          <div class="par-pagi">
            <div class="pagination">
              <button class="btn-pre" @click="changePage(page - 1)" :disabled="page === 1">Previous</button>
              <div class="l">Page <span v-text="page"></span> of <span v-text="totalPages"></div>
              <button class="btn-nex" @click="changePage(page + 1)" :disabled="page === totalPages">Next</button>
            </div> 
          </div>
          
        </div>

      </div>

      <div class="col-md-9 par-body">
        <div class="par-body-tag">

          <div class="par-body-img">
            Images:
          </div>

          <div class="par-body-name">
            Name:
          </div>

          <div class="par-body-price">
            Price:
          </div>

          <div class="par-body-quantity">
            Quantity:
          </div>
          <div class="par-body-type">
            Type:
          </div>

          <div class="par-body-brand">
           Brand:
          </div>
          
          <div class="par-body-describe">
           Describle:
          </div>

        </div>

        <div class="par-body-detail">

          <div v-if="detailProduct" >
            <div class="par-img">
              <div class="retangle" v-if="detailProduct.images[0]">
                  <img :src="detailProduct.images[0]" class="par-detail-img" alt="Image Product">
              </div>
              <div v-else class="retangle"></div>

              <div class="retangle" v-if="detailProduct.images[1]">
                  <img :src="detailProduct.images[1]" class="par-detail-img" alt="Image Product">
              </div>
              <div v-else class="retangle"></div>

              <div class="retangle" v-if="detailProduct.images[2]">
                  <img :src="detailProduct.images[2]" class="par-detail-img" alt="Image Product">
              </div>
              <div v-else class="retangle"></div>

              <div class="retangle" v-if="detailProduct.images[3]">
                  <img :src="detailProduct.images[3]" class="par-detail-img" alt="Image Product">
              </div>
              <div v-else class="retangle"></div>
              
            </div>
            <div class="par-name">
              <span v-text="detailProduct.name"></span>
            </div>

            <div class="flex-st">
              <div class="col_1">
                <div class="par-space-price">
                  <span v-text="detailProduct.price"></span>
                </div>
                <div class="par-space-quantity">
                  <span v-text="detailProduct.quanlity"></span>
                </div>
              </div>

              <div class="col_2">
                <div class="col_3">
                  <div class="par-close">
                    Close :
                  </div>

                  <div class="expect">
                    Expected <br>delivery :
                  </div>
                </div>

                <div class="col_4">
                  <div class="par-space-close">
                   <span v-text="detailProduct.close"></span>
                  </div>
                  <div class="par-space-ex">
                     <span v-text="detailProduct.expected"></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="par-type">
              <span v-text="detailProduct.type"></span>
            </div>
            <div class="par-brand">
              <span v-text="detailProduct.brand"></span>
            </div>

            <div class="par-describe">
              <span v-text="detailProduct.describe"></span>
            </div>
 
          </div>

          <div class="par-btn">
            <button class="delete-form" @click="deleteForm">Delete form</button>
            <button class="close-form" @click="closeForm">Close form</button>
          </div>

        </div>
      </div>
      
      
    </div>

    <div class="par-register mt-3">
      <div class="par-head-register">
        <h4>List of Customers Register</h4>
        <button class="export-file"  @click="promptFileName">Export File</button>
      </div>

        <input class="par-search" type="text" v-model="searchQuery" @keydown.enter="searchV2" placeholder="Search Payment Method..."
    />

      <div class="par-name-register">

        <div class="col-2">
          Order ID
        </div>

        <div class="col-3">
          Registration date
        </div>

        <div class="col-3">
          Order Value
        </div>

        <div class="col-4">
          Payment Method
        </div>

      </div>

      <div v-if="register.length">

        <div v-for="(item, index) in register"
        :key="index"
         @click="fetchDetailRegister(item.orderid,index)" 
        >
          <div class="register-item" :class="{ 'selected-tab-register': selectedIndexRegister === index }">
            <div class="col-2">
              <span v-text="item.orderid"></span>
            </div>

            <div class="col-3">
              <span v-text="item.orderdate"></span>
            </div>

            <div class="col-3">
              <span v-text="item.userpaid"></span>
            </div>

            <div class="col-4">
              <span v-text="item.paymentmethod"></span>
            </div>  
          </div>
         
          <hr>
        </div>
      </div>

      <div  class="bot-pagi-bot">
        <div class="handle-input-bot">
          <input class="handle-input" type="number" v-model="perPageRegister" min="1" @input="handleInput">
        </div>
        <div class="par-pagi-bot">
          <div class="pagination">
            <button class="page-item" @click="changePageRegister(pageRegister - 1)" :disabled="pageRegister === 1">Previous</button>
            <div class="l">Page <span v-text="pageRegister"></span> of <span v-text="totalPagesRegister"></div>
            <button class="page-item" @click="changePageRegister(pageRegister + 1)" :disabled="pageRegister === totalPages">Next</button>
          </div> 
        </div>
      </div>
      

    </div>

    <div class="par-detail-register">

      <div class="par-tag-name-detail-register">
        Register detail
      </div>
      <hr>

      <div class="par-register-detail-body">
        <div class="par-detail-col-1">
          <div class="par-name-detail">
            <div class="par-orderID">
              Order ID :
            </div>
            <div class="par-customerID">
              Customer ID :
            </div>
            <div class="par-orderStatus">
              Order Status :
            </div>
          </div>

          <div class="par-register-data" v-for="(item, index) in detaiRegister":key="index">
            <div v-text="item.orderid"></div>
            <div v-text="item.userid"></div>
            <div v-text="item.orderstatus"></div>
          </div>

        

        </div>

        <div class="par-detail-col-2">

           <div class="par-name-detail">
              <div class="par-orderID">
                Purchase Date :
              </div>
              <div class="par-customerID">
                Delivery Date :
              </div>
              <div class="par-orderStatus">
                Payment Method :
              </div>
          </div>

          <div class="par-register-data" v-for="(item, index) in detaiRegister":key="index">
            <div v-text="item.orderdate"></div>
            <div v-text="item.estimatearrive"></div>
            <div v-text="item.paymentmethod"></div>
          </div>


        </div>
        
      </div>
      <hr>
      <div class="par-head-hd">
        <div class="col-hd">
          Product Name
        </div>

        <div class="col-hd">
          Quatity
        </div>

        <div class="col-hd">
          Product Price
        </div>

        <div class="col-hd">
          Value
        </div>
      </div>

      <div  v-for="(item, index) in calculatedProducts"
      :key="index">
        <div class="par-body-hd">
          <div class="col-hd" v-text="item.productname"></div>
          <div class="col-hd" v-text="item.quantity"></div>
          <div class="col-hd" v-text="item.unitprice"></div>
          <div class="col-hd" v-text="item.totalPrice"></div>
        </div>
      </div>
      <hr>

      <div class="par-row-price">
        <div class="par-note">
          <div class="order-note">Order Note :</div>
          <div class="content-note"> </div>
        </div>

        <div class="par-body-footer">
          <div class="col-ship-name">
            <div>Subtotal:</div>
            <div style="margin-top: 15px">Shipping:</div>
            <div style="margin-top: 35px">Total:</div>
          </div>

          <div class="col-ship-price">
            <div v-text="totalSum"></div>
            <div style="margin-top: 15px">[[shipPrice]]</div>
            <hr>
            <div style="margin-top: 15px" v-text="totalWithShip">
            </div>
          </div>
          
        </div>
      </div>
      
      
    </div>
  </div>
</div>
