<div id="app">
  <div class="par-container">
    <div class="par-fill mt-5">
      time product type brand price ...
    </div>
    <div class="par-top-layout mt-4">
      <div class="col-md-3 par-list-gb">
        <div class="par-head-list"> <h2 >List if Group by</h2></div>
        
        <div class="par-body-list" v-if="participants.length">
          <div
            v-for="(item, index) in participants"
            :key="index"
            class="participant-item"
          >
            <div class="product" @click="detailProductGroupBy(item)">
             
                <p><img :src="item.imagepath +'/1.jpg'" class="par-style-img"  alt="Product Image" /></p>
                
                <div>
                  <p><span v-text="item.productname"></span></p>
                  <p><span v-text="item.enddate"></span></p>
                </div>
              
            
            </div>
          </div>

          <div class="par-pagi">
            <div class="pagination">
              <button class="btn-pre" @click="changePage(page - 1)" :disabled="page === 1">Previous</button>
              <span>Page <span v-text="page"></span> of <span v-text="totalPages"></span>
              <button class="btn-nex" @click="changePage(page + 1)" :disabled="page === totalPages">Next</button>
            </div> 
          </div>
          
        </div>

      </div>

      <div class="col-md-9 par-body">
        <div class="par-body-tag">

          <div class="par-body-img">
            Images:
          </div>

          <div class="par-body-name">
            Name:
          </div>

          <div class="par-body-price">
            Price:
          </div>

          <div class="par-body-quantity">
            Quantity:
          </div>

          <div class="par-body-brand">
           Brand:
          </div>
          
          <div class="par-body-describe">
           Describle:
          </div>

        </div>

        <div class="par-body-detail">

          <div v-if="detailProduct" >
            <div class="par-img">
              <img :src="detailProduct.images +'/1.jpg'" class="par-detail-img" alt="Không lấy hình ảnh được">
              <div class="retangle"></div>
              <div class="retangle"></div>
              <div class="retangle"></div>
            </div>
            <div class="par-name">
              <span v-text="detailProduct.name"></span>
            </div>

            <div class="flex-st">
              <div class="col_1">
                <div class="par-space-price">
                  <span v-text="detailProduct.price"></span>
                </div>
                <div class="par-space-quantity">
                  <span v-text="detailProduct.quanlity"></span>
                </div>
              </div>

              <div class="col_2">
                <div class="col_3">
                  <div class="par-close">
                    Close
                  </div>

                  <div class="expect">
                    Expected <br>delivery
                  </div>
                </div>

                <div class="col_4">
                  <div class="par-space-close">
                   <span v-text="detailProduct.close"></span>
                  </div>
                  <div class="par-space-ex">
                     <span v-text="detailProduct.expected"></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="par-type">
              <span v-text="detailProduct.type"></span>
            </div>
            <div class="par-brand">
              <span v-text="detailProduct.brand"></span>
            </div>

            <div class="par-describe">
              <span v-text="detailProduct.describe"></span>
            </div>
 
          </div>

          <div class="par-btn">
            <button>Delete form</button>
            <button>Close form</button>
          </div>

        </div>
      </div>
      
      
    </div>

    <div class="par-register">
      <div class="par-head-register">
        <h2>List of Customers Register</h2>
        <button>Export File</button>
      </div>
      <input class="par-search" type="text">

      <div class="par-name-register">

        <div class="col-2">
          Order ID
        </div>

        <div class="col-3">
          Registration date
        </div>

        <div class="col-3">
          Order Value
        </div>

        <div class="col-4">
          Payment Method
        </div>

      </div>

      <div v-if="register.length">
        <div v-for="(item, index) in register"
        :key="index"
        class="register-item" @click="fetchDetailRegister(item.orderid)" >

          
            <div class="col-2">
              <span v-text="item.orderid"></span>
            </div>

            <div class="col-3">
              <span v-text="item.orderdate"></span>
            </div>

            <div class="col-3">
              <span v-text="item.userpaid"></span>
            </div>

            <div class="col-4">
              <span v-text="item.paymentmethod"></span>
            </div>
             
        </div>
        
      </div>

    </div>

   
    
    <div v-for="(item, index) in detaiRegister"
        :key="index"
        >
        
        <span v-text="item.orderid"></span>
        <span v-text="item.userid"></span>
        <span v-text="item.orderstatus"></span>
        <span v-text="item.orderdate"></span>
        <span v-text="item.estimatearrive"></span>
        <span v-text="item.paymentmethod"></span>

    </div>

    <div  v-for="(item, index) in allProductRegiser"
        :key="index">
        <span v-text="item.productname"></span>
        <span v-text="item.quantity"></span>
        <span v-text="item.unitprice"></span>
    </div>

  </div>
</div>
