<div class="par-container">
    {{#each listGroupBy}}
    <div class="product-item">
        <p>{{productname}}</p>
        <p><img src="{{imagepath}}" alt="{{productname}}"></p>
        <p>{{enddate}}</p>
    </div>
    {{/each}}
</div>
