<div class="container">
    <form id="sendMailForm"></form>
        <div class="list-mail">
            <h2>List Mail</h2>
            <div class="mail-items">
                {{#each Emails.data}}
                <div class="mail-item">
                    <input type="checkbox" name="selectedEmails" value="{{this.email}}" id="{{this.email}}">
                    <label for="{{this.email}}">{{this.email}}</label>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="content">
            <h2>Content</h2>
            <div class="form-group">
                <label>BCC</label>
                <input type="text" value="" class="form-input readonly" readonly>
            </div>

            {{!-- <div class="form-group">
                <label>Cc</label>
                <input type="text" value="ex@gmail.com" class="form-input">
            </div>

            <div class="form-group">
                <label>Bcc</label>
                <input type="text" value="e@gmail.com" class="form-input">
            </div> --}}

            <div class="form-group">
                <label>Title</label>
                <input id="subject" type="text" value="" class="form-input">
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea id="message" class="form-textarea"></textarea>
            </div>

            <button id="sendButton" type="submit" class="send-button">Send</button>
        </div>
    </form>
</div>