<div id="app" class="container mt-5">
  <div class="row">

    <div class="col-md-7">
      <div class="main-image">
        <img :src="mainImage" class="mainIMG" alt="Main" width="100%" />
      </div>

      <div class="grid-container">
        <div
          class="grid-item"
          v-for="(image, index) in images"
          :key="index"
          @click="changeMainImage(image)"
        >
          <div class="item-image">
            <img :src="image" :alt="'Ảnh ' + (index + 1)" />
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="name">[[getDB.productname]]</div>

      <div>
        <div class="group_by">LIMITED INSTOCK</div>
      </div>

      <div class="price mt-4">
        <div class="price-text">Price :</div>
        <div class="money">[[formatCurrencyUSD(getDB.currentprice)]]</div>
      </div>

      <div class="kit">Kit</div>

      <select id="mySelect" class="type-product">
        <option value="option1">Base</option>
        <option value="option2" selected>Numpad</option>
        <option value="option3">Full</option>
      </select>

      <div class="fw-bold mt-5">Quantily</div>
      <div class="input-quantity-contai">
        <div class="tru" @click="tru">-</div>
        <input
          type="number"
          v-model="quanlity"
          min="1"
          class="input-quantity"
        />
        <div class="cong" @click="cong">
          +
        </div>

      </div>
      
      <button @click="addToCart" class="cart fw-bold mt-5 text-white">
        Thêm vào giỏ hàng
      </button>
      <hr />
      <div class="description" @click="toggleContent">
        Description
        <i
          class="fas"
          :class="{'fa-plus': !isContentVisible, 'fa-minus': isContentVisible}"
        ></i>
      </div>
      <div class="content" v-show="isContentVisible">
        [[getDB.description]]
      </div>
      <hr />
      <div class="Specifications" @click="toggleCheck">
        Specifications
        <i class="fas" :class="{'fa-plus': !check, 'fa-minus': check}"></i>
      </div>
      <div class="content" v-show="check">
        <div>
          [[getDB.specification]]
        </div>
      </div>
    </div>

  </div>
  <div class="recom">
    <div class="product-same">Recommended Products</div>
    <div class="container-same-product" >
      <div class="product" v-for= "item, index in sameProducts" :key="index">
        <div class="recommend-img" @click="gotoDetai(item.productid)">
          <img :src="item.imagepath[0]" alt="recommend" />
          <div class="status"> ON SALE!</div>
        </div>
        <div class="product-infor">
          <div class="name-product">
            [[item.productname]]
          </div>
          <div class="prodcut-price">
            <div
              style="color:rgb(170, 170, 170);text-decoration: line-through;"
            >
                [[formatCurrencyUSD(getDB.oldprice)]]
            </div>
            <div style="color: green;">
            

              [[formatCurrencyUSD(item.currentprice)]]
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="flex_back">
    <button class="back" @click="goBack">BACK</button>
  </div>
  {{! Phần reivew  }}
  <div class="book-review mt-5">
    <div class="book-review-title">Đánh giá sản phẩm</div>

    <div class="book-review-rate">
      <div class="book-review-rate-overall">
        <div class="rate-digit">5</div>
        <div class="rate-star">
          <i
            :class="
                i <= 5 ? 'fa-solid fa-star' : 'fa-regular fa-star'
              "
            v-for="i in 5"
            :key="i"
          ></i>
        </div>
        <div class="rate-based-on">3</div>
      </div>

    </div>

    <div class="book-review-rate-detail">
      <div class="rate-each">

        <i class="fa-solid fa-star" v-for="i in 5" :key="i"></i>
        <div class="rating-bar">
          <div class="rating-bar-fill" :style="{ width: 80 + '%' }"></div>
        </div>
        <div class="rate-num">34</div>

      </div>

      <div class="rate-each">
        <i
          :class="i <= 4 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
          v-for="i in 5"
          :key="i"
        ></i>
        <div class="rating-bar">
          <div class="rating-bar-fill" :style="{ width: 45 + '%' }"></div>
        </div>
        <div class="rate-num">4</div>
      </div>

      <div class="rate-each">
        <i
          :class="i <= 3 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
          v-for="i in 5"
          :key="i"
        ></i>
        <div class="rating-bar">
          <div class="rating-bar-fill" :style="{ width: 63 + '%' }"></div>
        </div>
        <div class="rate-num">3</div>
      </div>

      <div class="rate-each">
        <i
          :class="i <= 2 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
          v-for="i in 5"
          :key="i"
        ></i>
        <div class="rating-bar">
          <div class="rating-bar-fill" :style="{ width: 23 + '%' }"></div>
        </div>
        <div class="rate-num">2</div>
      </div>

      <div class="rate-each">
        <i
          :class="i <= 1 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
          v-for="i in 5"
          :key="i"
        ></i>
        <div class="rating-bar">
          <div class="rating-bar-fill" :style="{ width: 65 + '%' }"></div>
        </div>
        <div class="rate-num">1</div>
      </div>

    </div>

    <!-- Nút để bật đánh giá -->
    <div class="book-review-btn-review">
      <!-- <div> Vui lòng đăng nhập để viết đánh giá </div> -->
      <button
        type="button"
        :class="isToggleForm ? 'btn btn-danger' : 'btn btn-outline-primary'"
        @click="toggleForm"
      >
        <i
          :class=" isToggleForm ? 'fa-solid fa-xmark me-1' : 'fa-solid fa-pen me-1' "
        ></i>
        [[toggleForm? "Hủy đánh giá" : "Viết đánh giá"]]
      </button>
    </div>

    <!-- Form nhận xét của user -->
    <div class="your-review-form" v-if="isToggleForm">
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label fw-bold">Đánh giá</label>
          <div class="form-star-rating">
            <i
              v-for="i in 5"
              :key="i"
              :class="{
                  'fa-solid fa-star': i <= (hoverRating || rating),
                  'fa-regular fa-star': i > (hoverRating || rating),
                }"
              @mouseenter="hoverStar(i)"
              @mouseleave="hoverStar(0)"
              @click="setRating(i)"
            ></i>
          </div>
          <input type="hidden" v-model="rating" name="Rating" />
        </div>

        <div class="mb-3">
          <label for="Review" class="form-label fw-bold">Nhận xét</label>
          <textarea
            name="Review"
            class="form-control"
            id="Review"
            rows="3"
            style="resize: none"
          ></textarea>
        </div>

        <div class="mb-4">
          <label for="Images" class="form-label fw-bold">Hình ảnh</label>
          <div class="review-image"><i class="fa-solid fa-plus"></i></div>
        </div>

        <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
      </form>
    </div>

    <!-- Các đánh giá -->
    <div class="reviews">
      <div class="review">
        <!-- avatar -->
        <div class="review-avatar-ctn">
          <div class="review-avatar">
            <img
              src="/image/1/EmeraldGreen_WK_1512x.jpg"
              class="w-100 h-100"
              alt="avatar"
            />
          </div>
        </div>

        <!-- phần review bên trái + phản hồi -->
        <div class="review-content-ctn">
          <div class="review-name">Minh</div>
          <div class="review-rate-star">
            <i
              :class="
                  i <= 5 ? 'fa-solid fa-star' : 'fa-regular fa-star'
                "
              v-for="i in 5"
              :key="i"
            ></i>
          </div>
          <div class="review-date">4</div>
          <div class="review-content-text">
            <br />
            alo alo
          </div>

          <!-- <div class="review-content-images">

              <div class="image-ctn">
                <img :src="images[1]" alt="review image" />
              </div>
              <div class="image-ctn">
                <img :src="images[1]" alt="review image" />
              </div>
              <div class="image-ctn">
                <img :src="images[1]" alt="review image" />
              </div>
            </div> -->

          <div class="review-respond">
            <div class="fw-bold mb-2">Phản hồi của cửa hàng</div>
            Shop rất vui vì nhận được đánh giá.
          </div>
        </div>
      </div>

      {{!-- <button
        v-if="reviews.length > visibleReviews"
        @click="showMore"
        class="book-btn-review"
      >
        Xem thêm
      </button> --}}
    </div>

  </div>

</div>

<script>
  window.data = JSON.parse('{{{data}}}'); window.idProduct ={{idProduct}};
</script>