<div id="app" class="container mt-5">
  <div class="row">

    <div
      class="modal fade"
      id="notificationModal"
      tabindex="-1"
      aria-labelledby="notificationModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
          </div>
          <div class="modal-body">
            <p id="notificationMessage">Nội dung thông báo sẽ hiển thị ở đây.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              id="closeNotificationBtn"
              data-bs-dismiss="modal"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="main-image">
        <img :src="mainImage" class="mainIMG" alt="Main" width="100%" />
      </div>

      <div class="grid-container">
        <div
          class="grid-item"
          v-for="(image, index) in images"
          :key="index"
          @click="changeMainImage(image)"
        >
          <div class="item-image">
            <img :src="image" :alt="'Ảnh ' + (index + 1)" />
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-5">
      <div class="name">[[getDB.productname]]</div>

      <div>
        <div class="group_by">LIMITED INSTOCK</div>
      </div>

      <div class="price mt-4">
        <div class="price-text">Price :</div>
        <div class="money">[[formatCurrencyUSD(getDB.currentprice)]]</div>
      </div>

      <div class="fw-bold mt-5">Quantily</div>
      <div class="input-quantity-contai">
        <div class="tru" @click="tru">-</div>
        <input
          type="number"
          v-model="quanlity"
          min="1"
          class="input-quantity"
        />
        <div class="cong" @click="cong">
          +
        </div>

      </div>

      <button @click="addToCart" class="cart fw-bold mt-5 text-white">
        Thêm vào giỏ hàng
      </button>
      <hr />
      <div class="description" @click="toggleContent">
        Description
        <i
          class="fas"
          :class="{'fa-plus': !isContentVisible, 'fa-minus': isContentVisible}"
        ></i>
      </div>
      <div class="content" v-show="isContentVisible">
        [[getDB.description]]
      </div>
      <hr />
      <div class="Specifications" @click="toggleCheck">
        Specifications
        <i class="fas" :class="{'fa-plus': !check, 'fa-minus': check}"></i>
      </div>
      <div class="content" v-show="check">
        <div>
          [[getDB.specification]]
        </div>
      </div>
    </div>

  </div>
  <div class="recom">
    <div class="product-same">Recommended Products</div>
    <div class="container-same-product">
      <div class="product" v-for="item, index in sameProducts" :key="index">
        <div class="recommend-img" @click="gotoDetai(item.productid)">
          <img :src="item.imagepath[0]" alt="recommend" />
          <div class="status"> ON SALE!</div>
        </div>
        <div class="product-infor">
          <div class="name-product">
            [[item.productname]]
          </div>
          <div class="prodcut-price">
            <div
              style="color:rgb(170, 170, 170);text-decoration: line-through;"
            >
              [[formatCurrencyUSD(getDB.oldprice)]]
            </div>
            <div style="color: green;">

              [[formatCurrencyUSD(item.currentprice)]]
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="flex_back">
    <button class="back" @click="goBack">BACK</button>
  </div>

  <div id="overlay" class="overlay"></div>

  <!-- Toast Notification -->
  <div
    id="toast"
    class="toast position-fixed top-50 start-50 translate-middle"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body text-center">
      Đánh giá của bạn đã được gửi thành công!
    </div>
  </div>

  {{! Phần reivew  }}
  <div class="book-review-container">
    <div class="book-review mt-5">
      <div class="book-review-title">Đánh giá sản phẩm</div>

      <div class="book-review-rate">
        <div class="book-review-rate-overall">
          <div class="rate-digit">[[averageRating]]</div>
          <div class="rate-star">
            <i
              :class="
                i <= [[averageRating]]? 'fa-solid fa-star' : 'fa-regular fa-star'
              "
              v-for="i in 5"
              :key="i"
            ></i>
          </div>
          <div class="rate-based-on">[[reviews.length]]</div>
        </div>

      </div>

      <div class="book-review-rate-detail">
        <div class="rate-each">

          <i class="fa-solid fa-star" v-for="i in 5" :key="i"></i>
          <div class="rating-bar">
            <div
              class="rating-bar-fill"
              :style="{ width:  calculateStarPercentage(5) + '%' }"
            ></div>
          </div>
          <div class="rate-num">[[countStarReviews(5)]]</div>

        </div>

        <div class="rate-each">
          <i
            :class="i <= 4 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
            v-for="i in 5"
            :key="i"
          ></i>
          <div class="rating-bar">
            <div
              class="rating-bar-fill"
              :style="{ width: calculateStarPercentage(4) + '%' }"
            ></div>
          </div>
          <div class="rate-num">[[countStarReviews(4)]]</div>
        </div>

        <div class="rate-each">
          <i
            :class="i <= 3 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
            v-for="i in 5"
            :key="i"
          ></i>
          <div class="rating-bar">
            <div
              class="rating-bar-fill"
              :style="{ width: calculateStarPercentage(3) + '%' }"
            ></div>
          </div>
          <div class="rate-num">[[countStarReviews(3)]]</div>
        </div>

        <div class="rate-each">
          <i
            :class="i <= 2 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
            v-for="i in 5"
            :key="i"
          ></i>
          <div class="rating-bar">
            <div
              class="rating-bar-fill"
              :style="{ width: calculateStarPercentage(2) + '%' }"
            ></div>
          </div>
          <div class="rate-num">[[countStarReviews(2)]]</div>
        </div>

        <div class="rate-each">
          <i
            :class="i <= 1 ? 'fa-solid fa-star' : 'fa-regular fa-star'"
            v-for="i in 5"
            :key="i"
          ></i>
          <div class="rating-bar">
            <div
              class="rating-bar-fill"
              :style="{ width: calculateStarPercentage(1) + '%' }"
            ></div>
          </div>
          <div class="rate-num">[[countStarReviews(1)]]</div>
        </div>

      </div>

      <!-- Nút để bật đánh giá -->
      <div class="book-review-btn-review">
        <!-- <div> Vui lòng đăng nhập để viết đánh giá </div> -->
        <button
          type="button"
          :class="isToggleForm ? 'btn btn-danger' : 'btn btn-outline-primary'"
          @click="toggleForm"
        >
          <i
            :class=" isToggleForm ? 'fa-solid fa-xmark me-1' : 'fa-solid fa-pen me-1' "
          ></i>
          [[ isToggleForm ? 'Hủy đánh giá' : 'Viết đánh giá' ]]
        </button>
      </div>

      <!-- Form nhận xét của user -->
      <div class="your-review-form" v-if="isToggleForm">
        <form @submit.prevent="submitReview">
          <div class="mb-3">
            <label class="form-label fw-bold">Rating</label>
            <div class="form-star-rating">
              <i
                v-for="i in 5"
                :key="i"
                :class="{
              'fa-solid fa-star': i <= (hoverRating || rating),
              'fa-regular fa-star': i > (hoverRating || rating),
            }"
                @mouseenter="hoverStar(i)"
                @mouseleave="hoverStar(0)"
                @click="setRating(i)"
              ></i>
            </div>
            <input type="hidden" v-model="rating" name="Rating" />
            <input type="hidden" v-model="idproduct" name="Id" />
          </div>

          <div class="mb-3">
            <label for="Review" class="form-label fw-bold">Comment</label>
            <textarea
              name="Review"
              class="form-control"
              id="Review"
              rows="3"
              style="resize: none"
              v-model="comment"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
        </form>
      </div>

      <!-- Các đánh giá -->
      <div class="reviews">
        <!-- Dấu hiệu loading -->
        <div
          v-if="isloadingreview"
          class="d-flex justify-content-center align-items-center"
          style="color:rgb(0, 115, 255)"
        >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div
          class="review"
          v-for="(review, index) in reviews.slice(0,visibleReviews)"
          :key="index"
        >
          <div
            class="d-flex justify-content-center align-items-center rounded-circle bg-primary text-white mt-2"
            style="width: 2vw; height: 2vw; overflow: hidden"
          >
            <span class="text-truncate w-100 text-center">
              <i class="fas fa-user"></i>
            </span>
          </div>

          <!-- phần review bên trái + phản hồi -->
          <div class="review-content-ctn">
            <div class="review-name">[[review.email]]</div>
            <div class="review-rate-star">
              <i
                :class="
                  i <= [[review.stars]] ? 'fa-solid fa-star' : 'fa-regular fa-star'
                "
                v-for="i in 5"
                :key="i"
              ></i>
            </div>
            <div class="review-date">[[review.date]]</div>
            <div class="review-content-text">
              [[review.comment]]
            </div>
          </div>
        </div>
        <!-- Nút Xem thêm với Bootstrap -->
        <button
          v-if="reviews.length > visibleReviews"
          @click="showMore"
          class="btn btn-primary text-center"
        >
          Xem thêm
        </button>

      </div>

    </div>
  </div>

</div>

<script>
  window.data = JSON.parse('{{{data}}}'); window.idProduct ={{idProduct}};
</script>