<div id="app" class="container mt-5">
  <div class="row">

    <div class="col-md-7">
      <div class="main-image">
        <img :src="mainImage" class="mainIMG" alt="Main" width="100%" />
      </div>

      <div class="grid-container">
        <div
          class="grid-item"
          v-for="(image, index) in images"
          :key="index"
          @click="changeMainImage(image)"
        >
          <div class="item-image">
            <img :src="image" :alt="'Ảnh ' + (index + 1)" />
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-5">
      <div class="name">[[getDB.productname]]</div>

      <div class="group_by">GROUP BY</div>

      <div class="flex-enddate">
        End date: [[formattedEndDate]]
      </div>

      <div class="estimated-arrive">
        Estimated Arrival: [[formattedArriveDate]]
      </div>

      <div class="price">
        <div class="price-text">Price :</div>
        <div class="money">[[formatCurrencyUSD(getDB.currentprice)]]</div>
      </div>
      {{! 
      <div class="kit">Kit</div>

      <select id="mySelect" class="type-product">
        <option value="option1">Base</option>
        <option value="option2" selected>Numpad</option>
        <option value="option3">Full</option>
      </select> }}

      <div class="quantity">Quantily</div>
      <div class="input-quantity-contai">
        <div class="tru" @click="tru">-</div>
        <input
          type="number"
          v-model="quanlity"
          min="1"
          class="input-quantity"
        />
        <div class="cong" @click="cong">
          +
        </div>

      </div>

      <button
        @click="addToCart"
        class="add-to-cart p-2"
        :disabled="isSoldOut"
        :class="{'sold-out': isSoldOut}"
      >
        [[isSoldOut ? "SOLD OUT" : "ADD TO CART"]]
      </button>

      <hr />
      <div class="description" @click="toggleContent">
        Description
        <i
          class="fas"
          :class="{'fa-plus': !isContentVisible, 'fa-minus': isContentVisible}"
        ></i>
      </div>
      <div class="content" v-show="isContentVisible">
        [[getDB.description]]
      </div>
      <hr />
      <div class="Specifications" @click="toggleCheck">
        Specifications
        <i class="fas" :class="{'fa-plus': !check, 'fa-minus': check}"></i>
      </div>
      <div class="content" v-show="check">
        <div>
          [[getDB.specification]]
        </div>
      </div>
    </div>

  </div>
  <div class="recom">
    <div class="product-same">Recommended Products</div>
    <div class="container-same-product">
      <div class="product" v-for="item, index in sameProducts" :key="index">
        <div class="recommend-img" @click="gotoDetai(item.productid)">
          <img :src="item.imagepath[0]" alt="recommend" />
          <div class="status" :class="{'gb': !checkOnSale(item.currentprice,item.oldprice)}"> [[checkOnSale(item.currentprice,item.oldprice)? "ON SALE!" :"GROUP-BY"]]</div>
        </div>
        <div class="product-infor">
          <div class="name-product">
            [[item.productname]]
          </div>
          <div class="prodcut-price">
            <div
              style="color:rgb(170, 170, 170);text-decoration: line-through;"
            >
              [[formatCurrencyUSD(item.oldprice)]]
            </div>
            <div style="color: green;">

              [[formatCurrencyUSD(item.currentprice)]]
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="flex_back">
    <button class="back" style="border:none;" @click="goToGroupbyPage">BACK</button>
  </div>

</div>

<script>
  window.data = JSON.parse('{{{data}}}'); window.idProduct ={{idProduct}};
</script>