<div id="app" class="container">

  <div class="name" v-html="getDB.productname"></div>
  <div class="flex_image">

    <div v-if="poster.length">
      <div class="slider">
        <img
          :src="poster[currentIndex]"
          alt="Product"
          width="600px"
          height="400px"
        />
        <div class="btn_left" @click="prevSlide">
          <div>
            <i class="fas fa-angle-left"></i>
          </div>
        </div>

        <div class="btn_right" @click="nextSlide">
          <div>
            <i class="fas fa-angle-right"></i>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-5">
      <div class="spec">
        <div class="spec_text">SPEC</div>
        <div v-html="formattedSpec"></div>
      </div>
      <div class="flex_money">
        <div class="flex">
          <div class="price_text">Giá tiền:</div>
          <div class="money" v-html="getDB.currentprice"></div>
          <div class="symbol">$</div>
        </div>
        <div class="flex">
          <div class="quanlity_text">Số Lượng :</div>
          <input type="number" v-model="quanlity" min="1" class="style_input" />
        </div>
      </div>
      <div class="flex_money">
        <div class="cart" @click="addToCart">Thêm vào giỏ hàng</div>
      </div>
    </div>
  </div>
  <div class="intro">
    GIỚI THIỆU SẢN PHẨM
  </div>
  <div class="image">
    <img :src="img_detail_1" width="100%" alt="ảnh chính" />
  </div>
  <div class="description">
    Description:
  </div>
  <div v-html="formattedDesc"></div>
  {{! <img :src="img_detail_2" width="100%" alt="detail" />
  <img :src="img_detail_3" width="100%" alt="detail3" /> }}
  
  <div class="customer">
    <div style="display: flex; justify-content: space-between">
      <div class="customer_review">Customer Reviews</div>
      <button @click="cancelReview" class="cancel_review">
        [[ reviewButtonText ]]
      </button>
    </div>

    <hr />

    <!-- Sử dụng thẻ form để tạo form đăng comment -->
    <form @submit.prevent="submitForm" v-show="isComment">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          v-model="name"
          placeholder="Enter your name (public)"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          v-model="email"
          placeholder="Enter your email (private)"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="reviewTitle" class="form-label">Review title</label>
        <input
          type="text"
          id="reviewTitle"
          v-model="reviewTitle"
          placeholder="Give your review a title"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="reviewContent" class="form-label">Review</label>
        <textarea
          id="reviewContent"
          v-model="reviewContent"
          placeholder="Write your comments here"
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="imageUpload" class="form-label">Upload Image</label>
        <input
          type="file"
          id="imageUpload"
          @change="handleFileUpload"
          class="form-control"
        />
      </div>

      <button @ click="" type="submit" class="submit">SUBMIT REVIEW</button>
    </form>

    <hr />

    <div v-for ="(review, index) in reviews" :key="index">
      <div><strong>Date:</strong> [[review.reviewdate]]</div>
      <div><strong>Email:</strong> [[review.email]]</div>
      <div><strong>Review Content:</strong> [[review.comment]]</div>

      <div>
        <strong>Stars:</strong>
        [[review.stars]]
      </div>

      <hr />
    </div>

  </div>
</div>

<script>
  window.data = JSON.parse('{{{data}}}');
  window.idProduct ={{idProduct}};
</script>